/*Main styling*/

.header {
  background-color: #5d99c6;
  padding: 5px 0 15px 0;
  border: 2px solid black;
  color: white;
}

a {
  color: white;
}

.main-header {
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  margin: 30px 0 10px 10px;
}
.main-header-two {
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  margin: 30px 0 10px 10px;
}

.robot-profile {
  border: 1px solid black;
  background-color: #c3fdff;
  width: 23%;
  margin: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.robot-all{
  display: flex;
  flex-wrap: wrap;
}

.name-link {
  display: block;
  font-size: 24px;
  color: blue;
  font-family: 'Helvetica', sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

.robot-text {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  padding-left: 20px;
}

.main-image {
  height: 70%;
  width: 70%;
}

/*Profile Styling*/

.robot-profile-pic {
  border: 1px solid grey;
  border-radius: 100%;
  float: left;
  margin: 30px 0 0 30px;
}

.robot-profile-header {
  font-size: 60px;
  font-family: 'Helvetica', sans-serif;
  padding: 20px 0 0 0;
  margin: 0;
}

.profile-text-container {
  padding-left: 180px;
  margin: 30px 0 0 30px;
  font-family: 'Helvetica', sans-serif;

}

.inline-block {
  position: absolute;
  left: 90px;
  bottom: 59%;
}

.block-two {
  bottom: 54%;
  left: 142px;
}

.hire-me {
  color: red;
}
